<div class="well">
  <h2>關於本站</h2>
  <ul>
    <li>這個投票系統是照著 <a href="http://docs.railsbridge.org/intro-to-rails/">RailsBridge - Intro to Rails</a> 這個課程一步步完成的</li>
    <li>程式碼網址: <a href="https://github.com/coopermaa/suggestotron">https://github.com/coopermaa/suggestotron</a></li>
    <li>程式若有 Bug，歡迎送 Pull Request</li>
  </ul>
</div>
